{"openapi":"3.0.0","info":{"title":"Public API","description":"","version":"0.0.1"},"servers":[{"url":"https://api.scaleframe.app/api:public"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/account/{id}":{"get":{"summary":"Retrieves the details of an account by its unique id.","description":"Retrieves the details of an account by its unique id.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["account"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"Unique identifier for the account.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/accounts":{"get":{"summary":"Returns a list of accounts from your leads list.","description":"Returns a list of accounts from your leads list.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["accounts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"Specifies the page of the dataset to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"string"},"curPage":{"type":"string"},"nextPage":{"type":"string"},"prevPage":{"type":"string"},"perPage":{"type":"string"},"itemsTotal":{"type":"string"},"pageTotal":{"type":"string"},"items":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/account":{"post":{"summary":"Creates an account in Playmaker.","description":"Creates an account in Playmaker.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["account"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"This company\u0027s primary domain, not including www or https://. \n\n(Example: apple.com, sony.com)"},"play_id":{"type":"string","description":"Unique identifier for the play that this account will be added to.\n\nThis value can be found through the \u0022Get Plays\u0022 endpoint, or in the app by visiting the Play and grabbing its ID from the url."},"name":{"type":"string","description":"The name of this company.","nullable":true},"linkedin":{"type":"string","description":"The Linkedin URL of this company.","nullable":true},"revenue":{"type":"string","description":"","nullable":true},"employees":{"type":"string","description":"","nullable":true},"phone":{"type":"string","description":"","nullable":true},"city":{"type":"string","description":"","nullable":true},"state":{"type":"string","description":"","nullable":true},"country":{"type":"string","description":"","nullable":true},"postal_code":{"type":"string","description":"","nullable":true},"industry":{"type":"string","description":"","nullable":true},"full_address":{"type":"string","description":"","nullable":true},"description":{"type":"string","description":"","nullable":true},"twitter":{"type":"string","description":"","nullable":true},"youtube":{"type":"string","description":"","nullable":true},"facebook":{"type":"string","description":"","nullable":true},"instagram":{"type":"string","description":"","nullable":true},"logo":{"type":"string","description":"","nullable":true},"timezone":{"type":"string","description":"","nullable":true}},"required":["domain","play_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"This company\u0027s primary domain, not including www or https://. \n\n(Example: apple.com, sony.com)"},"play_id":{"type":"string","description":"Unique identifier for the play that this account will be added to.\n\nThis value can be found through the \u0022Get Plays\u0022 endpoint, or in the app by visiting the Play and grabbing its ID from the url."},"name":{"type":"string","description":"The name of this company.","nullable":true},"linkedin":{"type":"string","description":"The Linkedin URL of this company.","nullable":true},"revenue":{"type":"string","description":"","nullable":true},"employees":{"type":"string","description":"","nullable":true},"phone":{"type":"string","description":"","nullable":true},"city":{"type":"string","description":"","nullable":true},"state":{"type":"string","description":"","nullable":true},"country":{"type":"string","description":"","nullable":true},"postal_code":{"type":"string","description":"","nullable":true},"industry":{"type":"string","description":"","nullable":true},"full_address":{"type":"string","description":"","nullable":true},"description":{"type":"string","description":"","nullable":true},"twitter":{"type":"string","description":"","nullable":true},"youtube":{"type":"string","description":"","nullable":true},"facebook":{"type":"string","description":"","nullable":true},"instagram":{"type":"string","description":"","nullable":true},"logo":{"type":"string","description":"","nullable":true},"timezone":{"type":"string","description":"","nullable":true}},"required":["domain","play_id"]}}}}}},"/blocklist/account":{"delete":{"summary":"Remove an account from your global blocklist.","description":"Remove an account from your global blocklist.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["blocklist"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The company domain to remove from your global blocklist."}},"required":["domain"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The company domain to remove from your global blocklist."}},"required":["domain"]}}}}},"post":{"summary":"Add an account by domain to your global blocklist. This will exclude the account from all outreach in Playmaker.","description":"Add an account by domain to your global blocklist. This will exclude the account from all outreach in Playmaker.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["blocklist"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The company domain to add to your global blocklist."}},"required":["domain"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The company domain to add to your global blocklist."}},"required":["domain"]}}}}}},"/blocklist/contact":{"delete":{"summary":"Remove a contact from your global blocklist.","description":"Remove a contact from your global blocklist.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["blocklist"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to remove from your global blocklist."}},"required":["email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to remove from your global blocklist."}},"required":["email"]}}}}},"post":{"summary":"Add a contact by email address to your global blocklist. This will exclude the contact from all outreach in Playmaker.","description":"Add a contact by email address to your global blocklist. This will exclude the contact from all outreach in Playmaker.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["blocklist"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to add to your global blocklist."}},"required":["email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to add to your global blocklist."}},"required":["email"]}}}}}},"/contact/{id}":{"get":{"summary":"Retrieves the details of a contact by its unique id.","description":"Retrieves the details of a contact by its unique id.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["contact"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"Unique identifier for the contact.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/contacts":{"get":{"summary":"Returns a list of contacts from your leads list.","description":"Returns a list of contacts from your leads list.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["contacts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"Specifies the page of the dataset to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"string"},"curPage":{"type":"string"},"nextPage":{"type":"string"},"prevPage":{"type":"string"},"perPage":{"type":"string"},"itemsTotal":{"type":"string"},"pageTotal":{"type":"string"},"items":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/contact":{"post":{"summary":"Creates a contact in Playmaker.","description":"Creates a contact in Playmaker.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["contact"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the contact to create"},"play_id":{"type":"string","description":"The id of the play this contact should be added to."},"first_name":{"type":"string","description":"The contact\u0027s first name","nullable":true},"last_name":{"type":"string","description":"The contact\u0027s last name","nullable":true},"full_name":{"type":"string","description":"The contact\u0027s full name","nullable":true},"title":{"type":"string","description":"The contact\u0027s job title","nullable":true},"linkedin":{"type":"string","description":"The contact\u0027s linkedin url","nullable":true},"seniority":{"type":"string","description":"The contact\u0027s seniority level","nullable":true},"phone":{"type":"string","description":"The contact\u0027s phone number","nullable":true},"phone_2":{"type":"string","description":"The contact\u0027s additional phone number","nullable":true},"image":{"type":"string","description":"The contact\u0027s profile image","nullable":true},"company":{"type":"object","properties":{"name":{"type":"string","description":"","nullable":true},"domain":{"type":"string","description":"","nullable":true},"linkedin":{"type":"string","description":"","nullable":true},"employees":{"type":"string","description":"","nullable":true},"revenue":{"type":"string","description":"","nullable":true},"phone":{"type":"string","description":"","nullable":true},"city":{"type":"string","description":"","nullable":true},"state":{"type":"string","description":"","nullable":true},"country":{"type":"string","description":"","nullable":true},"postal_code":{"type":"string","description":"","nullable":true},"full_address":{"type":"string","description":"","nullable":true},"industry":{"type":"string","description":"","nullable":true},"description":{"type":"string","description":"","nullable":true},"timezone":{"type":"string","description":"","nullable":true},"twitter":{"type":"string","description":"","nullable":true},"youtube":{"type":"string","description":"","nullable":true},"facebook":{"type":"string","description":"","nullable":true},"instagram":{"type":"string","description":"","nullable":true},"logo":{"type":"string","description":"","nullable":true}}}},"required":["email","play_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the contact to create"},"play_id":{"type":"string","description":"The id of the play this contact should be added to."},"first_name":{"type":"string","description":"The contact\u0027s first name","nullable":true},"last_name":{"type":"string","description":"The contact\u0027s last name","nullable":true},"full_name":{"type":"string","description":"The contact\u0027s full name","nullable":true},"title":{"type":"string","description":"The contact\u0027s job title","nullable":true},"linkedin":{"type":"string","description":"The contact\u0027s linkedin url","nullable":true},"seniority":{"type":"string","description":"The contact\u0027s seniority level","nullable":true},"phone":{"type":"string","description":"The contact\u0027s phone number","nullable":true},"phone_2":{"type":"string","description":"The contact\u0027s additional phone number","nullable":true},"image":{"type":"string","description":"The contact\u0027s profile image","nullable":true},"company":{"type":"object","properties":{"name":{"type":"string","description":"","nullable":true},"domain":{"type":"string","description":"","nullable":true},"linkedin":{"type":"string","description":"","nullable":true},"employees":{"type":"string","description":"","nullable":true},"revenue":{"type":"string","description":"","nullable":true},"phone":{"type":"string","description":"","nullable":true},"city":{"type":"string","description":"","nullable":true},"state":{"type":"string","description":"","nullable":true},"country":{"type":"string","description":"","nullable":true},"postal_code":{"type":"string","description":"","nullable":true},"full_address":{"type":"string","description":"","nullable":true},"industry":{"type":"string","description":"","nullable":true},"description":{"type":"string","description":"","nullable":true},"timezone":{"type":"string","description":"","nullable":true},"twitter":{"type":"string","description":"","nullable":true},"youtube":{"type":"string","description":"","nullable":true},"facebook":{"type":"string","description":"","nullable":true},"instagram":{"type":"string","description":"","nullable":true},"logo":{"type":"string","description":"","nullable":true}}}},"required":["email","play_id"]}}}}}},"/email/{id}":{"get":{"summary":"Retrieves the details of an email by its unique id.","description":"Retrieves the details of an email by its unique id.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["email"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","description":"Unique identifier for the email.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"contact_id":{"type":"string","description":""},"account_id":{"type":"string","description":""},"company_id":{"type":"string","description":""},"from_email":{"type":"string","description":""},"from_name":{"type":"string","description":""},"subject":{"type":"string","description":""},"body_text":{"type":"string","description":""},"body_html":{"type":"string","description":""},"reply_stripped":{"type":"string","description":""},"inbox_id":{"type":"string","format":"uuid","description":"","nullable":true},"status":{"type":"string","description":""},"status_detail":{"type":"string","description":""},"date_actual":{"type":"number","format":"timestamptz","description":"","nullable":true},"in_reply_to":{"type":"string","description":""},"references":{"type":"string","description":""},"opened":{"type":"boolean","description":""},"opens":{"type":"array","items":{"type":"number","format":"timestamptz","description":""},"nullable":true},"clicked":{"type":"boolean","description":""},"responded":{"type":"boolean","description":""},"play_id":{"type":"string","description":""},"sentiment":{"type":"string","description":""},"to":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":""},"name":{"type":"string","description":""}}}},"cc":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":""},"name":{"type":"string","description":""}}}},"bcc":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":""},"name":{"type":"string","description":""}}}},"clicks":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":""},"timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/emails":{"get":{"summary":"Returns a list of emails from your Playmaker account.","description":"Returns a list of emails from your Playmaker account.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["emails"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"Specifies the page of the dataset to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"Specifies the number of items to include per page in the dataset. The maximum allowable value is 200.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"filters","in":"query","description":"","required":false,"schema":{"type":"object","properties":{"status":{"type":"string","description":"Filter emails by status.","enum":["sent","received"],"nullable":true},"play_id":{"type":"string","description":"Filter emails associated with a specific play in Playmaker.","nullable":true},"mailbox_id":{"type":"string","description":"Filter emails associated with a specific mailbox in Playmaker.","nullable":true},"from_email":{"type":"string","description":"Filter emails sent from a specific email address.","nullable":true},"date_after":{"type":"number","format":"timestamptz","description":"Filter emails sent or received after a specific timestamp.","nullable":true},"date_before":{"type":"number","format":"timestamptz","description":"Filter emails sent or received before a specific timestamp.","nullable":true},"engagement":{"type":"string","description":"Filter emails based on specific engagement types such as opened, clicked, or replied.","enum":["all","opened","clicked","replied"],"default":"all"}}}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/me":{"get":{"summary":"Retrieves the account details associated with the provided API key. Use this endpoint to verify that your credentials are working correctly and to view the account associated with the key.","description":"Retrieves the account details associated with the provided API key. Use this endpoint to verify that your credentials are working correctly and to view the account associated with the key.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["me"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/plays":{"get":{"summary":"Returns a list of plays from your company in Playmaker.","description":"Returns a list of plays from your company in Playmaker.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["plays"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}}}}